//Colors
$accentColor: #f87070;
$backgroundBody: #1e213f;
$text: #d7e0ff;
$textDark: #1e213f;
$backgroundPreferences: #ffffff;
$inputBackground: #eff1fa;
$backgroundTimer: #161932;
$settingsHeading: #161932;
$defaultAccent: #f87070;
$blueAccent: #70f3f8;
$purpleAccent: #d881f8;

//Family
$fontCurrent: 'Kumbh Sans', sans-serif;
$fontDefault: 'Kumbh Sans', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;
$fontSpaceMono: 'Space Mono', monospace;

//Weights
$fontThin: 100;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 900;
